* {
    box-sizing: border-box;
}

header{
    background-color: red;
    margin: 0;
}

#AsideLeft{
    background-color: green;
    margin: 0;
}

#main{
    background-color: aqua;
}

#AsideRight{
    background-color: pink;
}

footer{
    background-color: violet;
}